{% extends 'labs/base.html' %}

{% block content %}

<div>
    {% if user.is_authenticated %}
    <h2>Hi {{ user.username }}!</h2>
    <a href="logout">logout</a>
    <br>
    <br>
    <br>
    {% if user.is_staff %}
        <h3>Отправлены</h3>
    <ul>
        {% for p in posts %}
        {% if not p.is_approved and p.is_sent %}
        <li>
            <h2><a href=/{{p.user.username}}/lab/{{p.lab.id}}>{{p.lab.title}}</a></h2>
            <h3><a href={{ p.url }} target="_blank">Ссылка на гит</a></h3>
            <h3>{{ p.user.username }}</h3>
            <hr>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
    {% endif %}
    {% else %}
    <p>You are not logged in.</p>
    <a href="{% url 'login' %}">Sign In</a>
    {% endif %}
</div>

{% endblock %}