@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html, body {
	background-color: #f1f1f1;
	color: #0f141e;

	font-size: 16px;
	font-weight: normal;
	font-family: Roboto, serif;

}

a {
	color: blue;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:active {
	color: purple;
}

a:visited {
	/*color: black;*/
}

.main {
	background: #4ac1f7;
	color: #ff0000;
	/*margin: 10px;*/
	/*padding: 10px 30px;*/
	border: 5px solid mediumvioletred;

	font-style: italic;
	font-size: 20px;
	font-weight: bold;
	text-transform: lowercase;
}

.main_list {
/*	*/
}

.container {
	width: 75%;
	margin: auto;

}

